RewriteEngine On

# Ignore admin and api (let them handle themselves)
# Ignore admin only
RewriteRule ^admin/ - [L]

# Route API requests to API router
RewriteRule ^api/?(.*)$ api/router.php?route=$1 [L,QSA]

# Remove .php extension
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^(.+)\.php$ $1 [R=301,L]

# Serve real files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Serve folders
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route everything else to frontend router
RewriteRule ^ router.php [L]